<!-- <%= stylesheet_link_tag "dashboard" %> -->

	<div class='menuHere'>
		<ul class="menu">
			<li title="Open Spots"><a href="#" class="map-marker"></a></li>
			<li title="Expiring Tags"><a href="#" class="hourglass-half"></a></li>
			<li title="Expired Tags"><a href="#" class="hourglass-end"></a></li>
			<li title="Monthly Reports"><a href="#" class="bar-chart"></a></li>
			<li title="Issue Refund"><a href="#" class="money"></a></li>
			<li title="Help Desk"><a href="#" class="question"></a></li>
		</ul>
	</div>

<script src="https://use.fontawesome.com/cece742d74.js"></script>
