<%= stylesheet_link_tag "driver" %>
<%= javascript_include_tag "driver" %>

<div class="container">
  <div class="stage">
    <div class="appFace">

      <div class='menuHere'>
        <ul class="menu">
          <h1><p>Snap a Photo</p></h1>
          <li title="Credit/Debit Card"><a href="#" class="credit-card"></a></li>
  <li title="Credit/Debit Card"><a href="#" class="credit-card"></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<script src="https://use.fontawesome.com/cece742d74.js"></script>
