<div class="overlay">
  <div class="overlay__inner">

    <div class="slides">

      <div class="slide">
        <div class="slide__subheading">Hello!</div>
        <div class="slide__heading">Welcome to Palmetto Park!</div>
        <div class="slide__text">It's the easy to use click and park app. Come see how it works!</div>
      </div><!--.slide-->

      <div class="slide">
        <div class="slide__subheading">1. Scan Your Plate.<br> 2. Scan Your Card.<br> 3. Select Time. <br> 4. Park.</div>
        <div class="slide__heading">Say What?</div>
        <div class="slide__text">That's It. It's that simple!</div>
      </div><!--.slide-->

      <div class="slide">
        <div class="slide__subheading">The Palmetto Park App</div>
        <div class="slide__heading">Has Arrived!</div>
        <div class="slide__text">Easy peasy.</div>
      </div><!--.slide-->

    </div><!--.slides-->

  </div><!--.overlay__inner-->
</div><!--.overlay-->
<div class="container">
			<div class="stage">
				<div class="appFace">
					<div class="logo">
						<img src="/assets/PALMETTO.png"/>
					</div>

<div class='menuHere'>
          <ul class="menu">
      <li title="home"><a href="#" class="home"></a></li>
      <li title="search"><a href="#" class="search"></a></li>
      <li title="pencil"><a href="#" class="pencil"></a></li>
      <li title="about"><a href="#" class="active about"></a></li>
      <li title="archive"><a href="#" class="archive"></a></li>
      <li title="contact"><a href="#" class="contact"></a></li>
    </ul>
  </div>

				</div>
			</div>
		</div>

		<script src="https://use.fontawesome.com/cece742d74.js"></script>
