<div class="overlay">
  <div class="overlay__inner">

    <div class="slides">

      <div class="slide">
        <div class="slide__subheading">Hello you!</div>
        <div class="slide__heading">Welcome to this pen</div>
        <div class="slide__text">Come'on, I know you want to know what's going on. Find out more and click next already.</div>
      </div><!--.slide-->

      <div class="slide">
        <div class="slide__subheading">Yea, thats what's going on!</div>
        <div class="slide__heading">What is this?</div>
        <div class="slide__text">A simple overlay with some basic text. Nice isn't it?</div>
      </div><!--.slide-->

      <div class="slide">
        <div class="slide__subheading">Do you like it?</div>
        <div class="slide__heading">Awesome!</div>
        <div class="slide__text">Easy peasy.</div>
      </div><!--.slide-->

    </div><!--.slides-->

  </div><!--.overlay__inner-->
</div><!--.overlay-->



<div class="container">
			<div class="stage">
				<div class="appFace">
					<div class="logo">
						<img src="/assets/PALMETTO.png"/>
					</div>
					<!-- <div class="loginHere">
						<input type="text" placeholder="username" name="" />
						<input type="password" placeholder="password" name="" />
						<button class="go"><i class="fa fa-check fa-2x"></i></button>
					</div>
					<div class="appFooter">
						<p>&copy; Copyright 2017.</p>
					</div> -->
				</div>
			</div>
		</div>

		<script src="https://use.fontawesome.com/cece742d74.js"></script>
