<%= stylesheet_link_tag "home" %>


					<div class="loginHere">
						<input type="text" placeholder="username" name="" />
						<input type="password" placeholder="password" name="" />
						<button class="go"><i class="fa fa-check fa-2x"></i></button>
					</div>
					<div class="appFooter">
						<p>&copy; Copyright 2017.</p>
					</div>
