@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

*{
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  font-size: 100%;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
}

body{
  width: 90%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0;
  padding: 0;

  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;

  .overlay__inner{
    $width: 29rem;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: $width;
    height: $width;
    margin: ($width / -2) 0 0 ($width / -2);
    text-align: center;
  }
}

.slides{
  .slide{
    display: none;

    &.slide__active{
      display: block;
    }
  }
}

.slide{
  position: relative;
  color: #fff;

  .slide__subheading{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 300;
  }
  .slide__heading{
    margin: 0 0 1rem;
    padding: 0;
    font-size: 4rem;
    font-weight: 700;
  }
  .slide__text{
    margin: 2rem 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: normal;
  }
  .slide__btn{
    display: inline-block;
    margin: 3rem .5rem 0;
    padding: .6rem 2rem;
    border: 3px solid;
    border-radius: 9px;
    text-align: center;
    color: #0cf;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;

    &:hover{
      color: lighten(#0cf,30%);
    }

    &.slide__btn--muted{
      color: #535362;

      &:hover{
        color: #0cf;
      }
    }
  }
}
