/*// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
@import 'https://fonts.googleapis.com/css?family=Poppins';



body {
	background: url("http://www.psdgraphics.com/file/blurry-lights-background.jpg") no-repeat;
	background-size: cover;
	overflow-x: hidden;
	// width: 1000%;
	text-align: center;


	// .container {
	// display: block;
	// 	padding-left: 30px;
	// 	padding-right: 30px;
	// }

	div.stage {
		// display: inline-block;
		height: 100vh;
		margin: 0 auto;
		text-align: center;
	}

	div.logo {
		display: inline-block;
		margin: 0 auto;
		margin-top: 110px;
	}

	// div.logo img {
	// flex-direction: row;
  // -webkit-align-items: center;
  // align-items: center;
  // -webkit-justify-content: center;
  // justify-content: center;
	// }
	img.logotest {
		padding-left: 240px !important;
		padding-top: 100px !important;

	}

	div.loginHere {
		display: inline-block;
		width: auto;
		margin-left: 0 auto;
		margin-top: 51px;
	}



	div.loginHere input {
		outline: none;
		border: none;
		padding: 4px;
		margin-bottom: 10px;
		font-family: 'Poppins', sans-serif;
		width: 60%;
		height: 28px;
		border: 1px solid #fafafa;
		border-radius: 4px;
		font-weight: bold;
		color: #908D8D;
	}

	.go {
		outline: none;
		border: 5px solid #fff;
		border-radius: 50%;
		z-index: 9;
		position: absolute;
		background: #1976D2;
		text-align: center;
		width: 50px;
		height: 50px;
		font-weight: 900;
		color: #fff;
		margin-top: -29px;
		margin-left: -28px;
		display: inline-block;
		cursor: pointer;
	}

	.go i {
		animation-name: roundOut;
		animation-duration: 0.25s;
		animation-timing-function: linear;
	}

	.go:hover i {
		animation-name: roundIn;
		animation-duration: 0.25s;
		animation-timing-function: linear;
	}

	@keyframes roundIn {
		0%   {transform: rotate(72deg); -webkit-transform: rotate(72deg); -moz-transform: rotate(72deg); -o-transform: rotate(72deg);	 }
		25%  {transform: rotate(144deg); -webkit-transform: rotate(144deg); -moz-transform: rotate(144deg); -o-transform: rotate(144deg);}
		50%  {transform: rotate(216deg); -webkit-transform: rotate(216deg); -moz-transform: rotate(216deg); -o-transform: rotate(216deg);}
		75%  {transform: rotate(288deg); -webkit-transform: rotate(288deg); -moz-transform: rotate(288deg); -o-transform: rotate(288deg);}
		100% {transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg);}
	}

	@keyframes roundOut {
		100% {transform: rotate(72deg); -webkit-transform: rotate(72deg); -moz-transform: rotate(72deg); -o-transform: rotate(72deg);	 }
		75%  {transform: rotate(144deg); -webkit-transform: rotate(144deg); -moz-transform: rotate(144deg); -o-transform: rotate(144deg);}
		50%  {transform: rotate(216deg); -webkit-transform: rotate(216deg); -moz-transform: rotate(216deg); -o-transform: rotate(216deg);}
		25%  {transform: rotate(288deg); -webkit-transform: rotate(288deg); -moz-transform: rotate(288deg); -o-transform: rotate(288deg);}
		0%   {transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg);}
	}

	div.appFooter {
		display: inline-block;
		margin-top: 90px;
		font-family: 'Poppins', sans-serif;
		color: #fafafa;
	}
}





html {
}






html {
	font-size: 100%;
	line-height: 1.45;
}
